body{
    background:#ecf0f1;
}

.container-main{
  width:800px;
  margin:40px auto;
  padding:20px;
  background:white;
  border-radius:5px;
}

.container-image{
  width:600px;
  height:300px;
  margin:40px auto;
  padding:20px;
  background:#ecf0f1;
  border-radius:5px;
}

p.error {
  color:red;
}
